<body>
  <div class="flash"><h5><%= flash[:message] %></h5></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>

              <div class="form-label-group">
               <a href="/auth/facebook" class="btn-facebook btn-block text-uppercase">Sign in with Facebook</a>
                <%= form_for(:session, url: signin_path) do |f| %>
                <div class="error-messages"><%= flash[:alert] %></div><br>
                  <%= f.label :username %>
                  <%= f.text_field :username, class: 'form-control' %>

                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %><br>

                  <%= f.submit "Sign In", class: "btn btn-primary" %>



                <% end %>


                <p>New user? <%= link_to "Sign up now!", signup_path %></p>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
