<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <% if @movie.title %>
            <h5 class="card-title text-center">Edit <%= @movie.title %></h5>
            <% else %>
              <h5 class="card-title text-center">New Movie</h5>
              <% end %>

              <div class="form-label-group">
                <% @movie.errors.full_messages.each do |msg| %>
                  <ul class="error-messages">
                    <%= msg %>
                    </ul>
                <% end %>
                <%= form_for @movie do |f| %>
                  <%= f.label :title %><br>
                  <%= f.text_field :title %><br>
                  <%= f.label :starring %><br>
                  <%= f.text_field :starring %><br>
                  <%= f.label :director_name, "Director" %><br>
                  <%= f.text_field :director_name, list: "directors_autocomplete" %>
                      <datalist id="directors_autocomplete">
                       <% @directors.each do |director| %>
                        <option value="<%= director.name %>">
                       <% end %>
                       </datalist><br>
                  <%= f.label :synopsis %><br>
                  <%= f.text_area :synopsis %><br>
                  <%= f.label :release_year %><br>
                  <%= f.text_field :release_year %><br>
                  <%= f.label :image, "Image URL" %><br>
                  <%= f.text_field :image %><br>
                  <%= f.fields_for :user_movies do |user_movie| %>
                    <%= user_movie.hidden_field(:user_id, {:value => @user.id}) %>
                    <%= user_movie.label :review, "Your Review" %><br>
                    <%= user_movie.text_area :review %><br>
                    <%= user_movie.label :rating, "Your Rating (1-5)" %><br>
                    <%= user_movie.text_field :rating %><br>
                  <% end %>

                  <%= f.submit %>
                <% end %>


              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
