<div class="container">

  <!-- Page Heading -->
  <div class="flash"><h5><%= flash[:message] %></h5></div>
  <h1 class="my-4">Welcome Back, <%= @user.username %><br>
    <small>Here's what you've been watching:</small>
  </h1><br>
  <p><strong>Sort Your Movies:</strong>
  <%= form_tag(user_movies_path, method: "get") do %>
  <%= select_tag "sorting_options", options_for_select(["Rating","5 Stars Only" , "Oldest"]), include_blank: true %>
  <%= submit_tag "Filter" %> <%= link_to "Clear Filter", user_movies_path %>
  <% end %></p>

  <div class="row">


<% @movies.each do |movie| %>

    <div class="col-lg-4 col-sm-6 mb-4">

      <div class="card h-100">

        <img class="card-img-top" src="<%= movie.image %>">
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= user_movie_path(@user, movie) %>"> <%= movie.title  %></a>
          </h4>
          <p class="card-text-director"><a class="directors" data-id= <%= movie.director.id %> href="/directors">Directed by:</a> <%= movie.director.name %></p>


            <% movie.user_movies.each do |user_movie| %>
             <p class="card-text"><strong>Your Rating:</strong> <%= user_movie.rating %></p>
             <p class="card-text"><strong>Your Review:</strong> <%= user_movie.review %></p>
            <% end %>


        </div>

      </div>

    </div>
<% end %>
    </div>

    <%= link_to "Add a Movie", new_user_movie_path %><br>
      <div class='signout'>
         <%= form_tag('/signout', method: :delete) do %>
          <%= submit_tag 'Signout', class: "btn btn-primary" %>
        <% end %>
        </div>


    </div>
