<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">New Movie</h5>

              <div class="form-label-group">
                <%= form_for @movie do |f| %>
                  <%= f.label :title %><br>
                  <%= f.text_field :title %><br>
                  <%= f.label :starring %><br>
                  <%= f.text_field :starring %><br>
                  <%= f.label :director_name %><br>
                  <%= f.text_field :director_name %><br>
                  <%= f.label :synopsis %><br>
                  <%= f.text_area :synopsis %><br>
                  <%= f.label :release_year %><br>
                  <%= f.text_field :release_year %><br>
                  <%= f.label :image, "Image URL" %><br>
                  <%= f.text_field :image %><br>
                  <%= f.submit %>
                <% end %>


              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
