
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4"><%= @movie.title %>

  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="<%= @movie.image %>" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Synopsis:</h3>
      <p><%= @movie.synopsis %></p>
      <h3 class="my-3">Starring:</h3>
      <p><%= @movie.starring %></p>
      <h3 class="my-3">Release Year:</h3>
      <p><%= @movie.release_year %></p>
      <h3 class="my-3">Director:</h3>
      <p><%= @movie.director.name %></p>
      <% @movie.user_movies.each do |user_movie| %>
      <h3 class="my-3">Your Review:</h3>
      <p><%= user_movie.review %></p>
      <h3 class="my-3">Your Rating:</h3>
      <p><%= user_movie.rating %></p><br></br>
      <h5 class="my-3"><%= link_to "Edit Movie", edit_user_movie_path(@user, @movie) %></h5>
      <h5 class="my-3"><%= link_to "Delete Movie", user_movie_path(@user, @movie), method: :delete %></h5>
    </div>
    <% end %>

    </div>

  <!-- /.row -->
