<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>

              <div class="form-label-group">
                <%= form_for @user do |f| %>
                <% if @user.errors.full_messages %>
                  <% @user.errors.full_messages.uniq.each do |msg| %>
                    <%= msg + "." %>
                 <% end %>
              <% end %>

                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %><br>

                <%= f.submit "Sign Me Up!", class: "btn btn-primary" %>
              <% end %>

              <p>Already a member? <%= link_to "Sign In", signin_path %></p>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
