<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Welcome Back, <%= @user.username %><br>
    <small>Here's what you've been watching:</small>
  </h1>
<% @user.movies.uniq.each do |movie| %>
  <div class="row">

    <div class="col-lg-4 col-sm-6 mb-4">

      <div class="card h-100">

        <a href="#"><img class="card-img-top" src="<%= movie.image %>" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"><%= movie.title %></a>
          </h4>
          <p class="card-text">Directed by: <%= movie.director.name %></p>

        </div>
      </div>
    </div>

    </div>
    <% end %>
    </div>


<%= link_to "Add a Movie", new_movie_path %>

  <%= form_tag('/signout', method: :delete) do %>
    <%= submit_tag 'Signout' %>
  <% end %>
