<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Welcome Back, <%= @user.username %><br>
    <small>Here's what you've been watching:</small>
  </h1>

  <div class="row">
<% @user.movies.uniq.each do |movie| %>
    <div class="col-lg-4 col-sm-6 mb-4">

      <div class="card h-100">

        <a href="#"><img class="card-img-top" src="<%= movie.image %>" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= movie_path(movie) %>"><%= movie.title %></a>
          </h4>
          <p class="card-text">Directed by: <%= movie.director.name %></p>
          <% if !movie.user_movies.blank? %>

             <% movie.user_movies.each do |user_movie| %>
             <p class="card-text"><a href="<%= edit_movie_path(movie) %>">Your Rating: <%= user_movie.rating %></p>
             <p class="card-text">Your Review: <%= user_movie.review %></p>
             <% end %>

          <% end %>

        </div>

      </div>

    </div>
<% end %>
    </div>

    <%= link_to "Add a Movie", new_movie_path %><br>
        <%= form_tag('/signout', method: :delete) do %>
          <%= submit_tag 'Signout' %>
        <% end %>


    </div>
